/* general */

@font-face {
  font-family: 'TeXGyrePagella';
  font-weight: normal;
  font-style: normal;
  src: local('TeXGyrePagella') url('../style/texgyrepagella-regular.otf') format('opentype');
}

@font-face {
  font-family: 'TeXGyrePagella';
  font-weight: bold;
  font-style: normal;
  src: local('TeXGyrePagella') url('../style/texgyrepagella-bold.otf') format('opentype');
}

@font-face {
  font-family: 'TeXGyrePagella';
  font-weight: normal;
  font-style: italic;
  src: local('TeXGyrePagella') url('../style/texgyrepagella-italic.otf') format('opentype');
}

@font-face {
  font-family: 'TeXGyrePagella';
  font-weight: bold;
  font-style: italic;
  src: local('TeXGyrePagella') url('../style/texgyrepagella-bolditalic.otf') format('opentype');
}


body {
    display: block;
    font-family: 'TeXGyrePagella', serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
}

p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.uppercase {
    text-transform: uppercase;
}

.small {
    font-size: 0.66em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

p.polish_indent {
    text-align: justify;
    text-indent: 1.5em
}

p.initial:first-letter {
    float: left;
    font-size: 2em;
    letter-spacing: 0.125em;
}

.superscript{
    font-size: x-small;
    vertical-align: top;
}

.explode {
    letter-spacing: 0.15em;
}

/* specific */

.translator {
    font-size: small;
    font-style: italic;
}

.publisher {
    letter-spacing: 0.25em;
}

div.preface {
    font-style: italic;
}

p.preface {
    letter-spacing: 0.15em; 
    margin-top: 15%;
    margin-bottom: 2em;
    text-align: center;
}

.signature {
    margin-top: 1em;
}

div.part {
    margin-top: 33%;
    text-align: center;
}

div.part p.number {
    font-size: 0.75em;
    letter-spacing: 1em;
    margin-bottom: 1.5em;
}

div.part p.title {
    font-size: 1.66em;
}

div.chapter_I_sentence {
    font-size: 0.66em;
    margin-top: 25%;
    margin-left: 66%;
}

div.chapter {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
}

div.chapter p.number {
    margin-bottom: 1em;
    font-size: 0.66em;
}

p.vertical-space {
    margin-top: 3em;
}

p.sign-board {
    margin-bottom: 1em;
    margin-top: 1em;
}

span.sign-board {
    border-style: solid;
    border-width: 1pt;
    display: inline-block;
    padding: 0.5em;
}

div.verse {
    margin: 1em 30% 1em 25%;
}

div.exercise {
    margin-bottom: 2em;
    margin-left: 4em;
    margin-top: 2em;
}

div.exercise p.title {
    margin-bottom: 1em;
}

p.telegram {
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-top: 1em;
}

div.writing {
    margin-bottom: 1em;
    margin-left: 25%;
    margin-top: 1em;
}

span.toc_chapter_number {
    display: inline-block;
    text-align: right;
    width: 6em;
}

/* Czy stosowane? */

.king_letter {
    margin-left: 2em;
    margin-right: 2em;
}

.large {
    font-size: 1.29167em;
    line-height: 1.2;
}
